@scope ([data-component="CanvasItem"]) to ([data-component]) {
  & {
    --borderThickness: 2px;
    --highlightColor: #ff004c;
    --activeColor: blue;
    --deleteButtonHeight: 50px;
    position: relative;
  }

  [data-context] {
    height: var(--deleteButtonHeight);
    background: var(--highlightColor);
    position: absolute;
    padding-inline: 10px;
    top: calc(var(--deleteButtonHeight) * -1);
    right: calc(var(--borderThickness) * -1);
    gap: 10px;
    button,
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      appearance: none;
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      color: white;
      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
