@scope ([data-component="CanvasItem"]) to ([data-component]) {
  & {
    --highlightColor: #ff004c;
    position: relative;
  }

  [data-context][popover] {
    margin: 0;
    padding: 0;
    border: none;
    inset: auto;
    bottom: anchor(top);
    right: calc(anchor(right) - 2px);
    div {
      display: flex;
      button,
      span {
        &:hover {
          background: black;
        }
        display: flex;
        align-items: center;
        background: var(--highlightColor);
        padding: 1rem;
        justify-content: center;
        appearance: none;
        margin: 0;
        font-size: 14px;
        border: none;
        color: white;
        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}
