@scope ([data-component="DropZone"]) to ([data-component]) {
  & {
    border-radius: 1rem;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 1rem;
    flex: 1 1 100%;
  }
}
